@import 'variables';



.projects-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.project-category h2 {
  margin-bottom: 15px;
}

.projects-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 calc(30% - 15px);
  max-width: 30%;
  background-color: $footer-background-color;
  color: black;
  margin: 10px;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
  border: 1px solid $footer-background-color;
  box-sizing: border-box;
  border-radius: 5px;
}

.project-image {
  width: 30%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 10px auto 0; /* Adds space at the top */
}

.project-footer {
  margin-top: auto; /* Pushes footer content to the bottom */
}

.line-break {
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-box:hover {
  transform: scale(1.05);
}

.github-icon {
  font-size: 1.5em;
  color: #000;
}

.github-icon:hover {
  color: #4078c0;
}

