
<header class="site-header">
    <div class="container">
      <!-- Logo or Name -->
      <div class="logo">
        <!-- <a href="{{ site.url }}">{{ site.title }}</a> -->
      </div>
  
      <!-- Navigation Menu -->
      <nav class="site-nav">
        <ul>
          <li><a href="{{ site.url }}" >{{ site.author }}</a></li>
          <li><a href="../portfolio/">Portfolio</a></li>
          <li><a href="../about/">About</a></li>
          <!-- <li><a href="/blog/">Blog</a></li> -->
          <li><a href="../contact/">Contact</a></li>
          <!-- <li><a href="/resume.pdf" class="cta-button">Download Resume</a></li> -->
        </ul>
      </nav>
  
      <!-- Call to Action Button (Optional) -->
      <!-- <a href="/resume.pdf" class="cta-button">Download Resume</a> -->
  
      <!-- Social Media Icons -->
      <!-- <div class="social-links">
        <a href="https://github.com/yourusername" title="GitHub" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/yourusername" title="LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/yourusername" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
      </div> -->
    </div>
  </header>
  