.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: $background-image;
  }

.projects-section {
  color:#000;
}
  
  .project-category {
    width: 48%;
    margin-bottom: 20px;
  }
  
  .project-category h2 {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
    margin-bottom: 15px;
  }
  
  .project-category h2 i {
    margin-right: 10px;
  }
  
  .project-box {
    border: 1px solid #dddddda6;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9ac;
  }
  
  .project-box h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: $primary-text-color;
  }
  
  .project-box p {
    font-size: 14px;
    color: $primary-text-color;
  }
  
  .project-box a {
    color: #007bff;
    text-decoration: none;
  }
  
  .project-box a:hover {
    text-decoration: underline;
  }
  
  .project-image {
    max-width: 100px;
    height: auto;
    margin: 10px 0;
  }
  
  .project-box i {
    font-size: 24px;
    color: #007bff;
    margin-top: 10px;
  }
  