// Text
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300; // or 400, 600, depending on the weight you want to use
    src: url('https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff2') format('woff2'),
         url('https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
  }

$base-text-color: #fff;
$background-image: "valentin-selja-CLvkkjb-i3g-unsplash.jpg";
$background-color: #fff;
$secondary-background-color: #fff;
$primary-text-color: #000;
$header-background-color: #000;

// Background
