---
layout: "wrapper"
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ '/assets/css/main.scss' | relative_url }}">
<link rel="stylesheet" href="{{ 'assets/css/header.scss' | relative_url }}">
<link rel="stylesheet" href="{{ 'assets/css/portfolio.scss' | relative_url }}">

<head>
  <meta charset="UTF-8">
  <!-- <title>{{ site.title }}</title> -->
  {% include header.html %}
</head>
<body>
  <div class="site-content">
      {{ content }}
  </div>
  {% include footer.html %}
</body>